extends ./libs/layout.jade

block content
  include ./libs/nav.jade
  .container-fluid
    .row
      .col-lg-8.border.p-5
        h1.display-4 Welcome to CPC! 
        p The Ohio State University Competitive Programming Club is club focused competing in algorithm based coding competition. 
          a(href="/about") Learn More
          | .
      .col-md-4.border