div(style="z-index: 11; position: relative; width: 0px; height: 10px;")
  button.btn.shadow-none(type="button", onclick="history.back()")
    i.bi.bi-box-arrow-in-left.bi-lg(style="font-size: 1.5rem;")