!!! 5
html(lang="en")
  head
    title Competitive Programming Club
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/public/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", crossorigin="anonymous")
    script(src="/public/main.js")
  body
    div(class="bg-image", style="background-image: url('/public/background.jpg'); min-height: 100vh")
      .navbar.navbar-expand-md.navbar-light.p-0
        .container-fluid.p-0
          .collapse.navbar-collapse.p-0
            .mt-5
      .container-fluid
        .row
          .col-lg-1.p-0
          .col-xl-10.p-0
            .container-fluid.border.p-0
            block content
          .col-lg-1.p-0
      