.navbar.navbar-expand-md.navbar-light.bg-light
  .container-fluid 
    a.navbar-brand(href="#") Competitve Programming Club
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarContent", aria-controls="navbarContent", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto 
        li.nav-item 
          a.nav-link(href="/") Home
        li.nav-item 
          a.nav-link(href="/about") About
        li.nav-item 
          a.nav-link(href="#") Portal
      a.nav-link(href="/login")
        btn.btn.btn-outline-primary(type="button") Login