document, body, select, form, input, option, button{
	font-family: verdana;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}


.container{
	padding: 10px;
}

.code.container{
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin: 20px 5px 5px 5px;
	float: left;
	width: 40%;
	background-color: #c9c9c9;
}

.code.container.input::before{
	content: "Input";
	position: relative; 
	bottom: 30px; 
	left: 0px; 
	width: 0px; 
	height: 0px; 
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.code.container.output::before{
	content: "Output";
	position: relative; 
	bottom: 30px; 
	left: 0px; 
	width: 0px; 
	height: 0px; 
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.code{
	font-family:'Courier New';
}

.code > p{
	position: relative; 
	top: -23px;
	padding: 0px;
	margin: 0px;
}


textarea{
	padding: 5px;
}

button{
	background-color:#ff8c00;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px 15px;
}

button:hover{
	background-color: #ce7100;
}

select{
	padding: 5px;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

li{
	float: left;
}

li button{
	border-radius: 0px;
}