.myCode{
	font-family: 'Consolas', 'Monaco', 'Courier New';
}

.myCode.myCode-input::before{
	content: "INPUT";
}

.myCode.myCode-output::before{
	content: "OUTPUT";
}

.myCode::before{
	content: "COPY";
	position: absolute;
	top: 0px;
	right: 5px;
	color: var(--info);
}

.myCode:hover::before{
	content: "CLICK TO COPY";
	color: var(--primary);
}