extends ./layout.jade

- var title = "Problem A"

block content
  include ./nav.jade
  .container
    h2 Add Two Numbers
    p Billy is in 2nd grade math and you are helping him understand his homework. He is given an addition problem that he has to solve.
    h4 Input
    p Two number n and m, 0 <= m, n <= 1000000, seperated by a space.
    h4 Output
    p One number which is the sum of n and m.
  .container
    h4(style="padding: 0px; margin-top: 0px;") Examples
    .code.container.input
      p 1 4
    .code.container.output
      p 5
    .code.container.input
      p 23 1
    .code.container.output
      p 24
