extends ./libs/layout.jade

block content 
  include ./libs/nav.jade
  .container-fluid
    .row
      .col-lg-12.border.p-5
          h1.display-4 Problems
          table.table.table-hover
            thead
              tr
                th(scope="col") ID 
                th(scope="col") Name 
            tobdy
            each val in problems
              tr.clickable(data-href="/test")
                th(scope="row")= val[0]
                th= val[1]