extends ./libs/layout.jade

block content 
  script(src="/public/submission.js")
  include ./libs/nav.jade
  .container-fluid
    .row
      include ./libs/backArrow.jade
      .col-lg-12.border.p-5
        h1.display-4= "Submit Problem: " + problem[1]
        form#submitForm(method="post")
          fieldset
            .form-group
              label(for="compilerSelect") Select Compiler 
              select#compilerSelect.form-select.form-control(name="compiler" style="width: 150px;")
                each val in compilers
                  option(value=(val[1]))= val[0]
            .form-group 
              label(for="codeTextarea") Enter Code
              textarea#codeTextarea.form-control(name="code", cols="60", rows="10", style="font-size: 14px;")
            .form-group
              button.btn.btn-success.float-right(type="submit") Submit Code
  div#submitLoading(style="z-index: 15; position:fixed; width: 100%; height: 100%; top: 0px; left: 0px; background-color:rgba(0, 0, 0, 0.9); display: none;")
    .row.h-100
      .spinner-border.text-primary.mx-auto.my-auto(role="status", style="width: 5rem; height: 5rem;")
        span.sr-only Loading...
