!!! 5
html(lang="en")
  head
    title Cool Title
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    link(rel="stylesheet" href="/public/main.css")
  body
    block content