.container(style="background-color: #9C9C9C; padding: 10px; margin: 0px;")
  .container
    h1(style="padding: 0px; margin: 0px;")= title
  .container
    ul(style="width: auto; padding: 0px; margin: 0px;")
      li
        a(href=("/?id=" + id))
          button Home
      li
        .container(style="width: 20px;")
      - each letter in problems
        li
          a(href=("/problem/" + letter))
            button(style="text-transform: uppercase;")= letter
    