extends ./layout.jade

- var title = "Problem Submission"

block content 
  include nav.jade
  form(action="/submit" method="post")
    .container 
      label(for="problem") Problem
      select#problem(name="problem", style="width: 200px;text-transform: uppercase;", setvalue=id)
        - each letter in problems
          option(value=letter, style="text-transform: uppercase;")= letter
      script 
        | $(document).ready(function(){
        |   $("#problem").val($("#problem").attr("setvalue")).change();
        | });
    .container
      label(for="compiler") Compiler
      select#compiler(name="compiler", style="width: 200px;")
        option(value="cpp17") C++
        option(value="java") JAVA
        option(value="python3", selected) Python
      script
        | $(document).ready(function(){
        |   if (typeof(Storage) !== "undefined") {
        |     $("#compiler").val(localStorage.getItem("compiler")).change();
        |   } 
        |   $("#compiler").change(function(){
        |     if (typeof(Storage) !== "undefined") {
        |       localStorage.setItem("compiler", $("#compiler").val());
        |     } 
        |   });
        | });
    .container
      label(for="code") Enter Code Below
      br
      textarea#code.code(name="code", rows="20", cols="100", placeholder="enter code")
    .container
      label(for="submit") Submit Code
      button(type="submit", value="Submit") Submit
